<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <menuitem id="hospital_main_menu"
              web_icon="hosp,static/description/icon.png" name="Hospital" sequence="300"/>
    <menuitem id="hospital_patient_menu"
              parent="hospital_main_menu" name="Patient" sequence="100"/>
    <menuitem id="hospital_doctor_menu"
              parent="hospital_main_menu" name="Doctor" sequence="9999"/>
</odoo>