<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <menuitem id="hospital_main_menu"
              web_icon="hosp,static/description/icon.png" name="Hospital" sequence="100"/>
    <menuitem id="patient_model_menu"
              parent="hospital_main_menu" name="Hospital" sequence="300"/>
    <menuitem id="doctor_model_menu"
              parent="hospital_main_menu" name="Doctor" sequence="500"/>
</odoo>